@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jacques Francois Shadow";
  src: url(../public/JacquesFrancoisShadow-Regular.ttf);
}

.title-text-shadow {
  text-shadow: 5px 5px 10px #879871, 1px -1px 1px #879871, -1px 1px 1px #879871,
    1px 1px 1px #879871;
}

.blog-style {
  border-color: #879871;
}